### Altium ###
# Previews Folders
__Previews/
**/__Previews/

# History Folders
History/
**/History/

# Project Logs
Project Logs*/

# Project Outputs
Project Outputs*/

# Auto-conversion notices
*.PcbDoc.htm

# Access lock file for dbLib sources
**/*.ldb

# Document Local Metadata
*.metadata

# Miscellaneous temporary or system files
*.~*

# SchDoc Previews
*.SchDocPreview

# Ignore common text and HTML files
*.txt
*.html
